[submodule "src/portaudio"]
	path = src/portaudio
	url = https://github.com/birdslikewires/portaudio
[submodule "src/zlib"]
	path = src/zlib
	url = https://github.com/birdslikewires/zlib
[submodule "src/shairport-sync"]
	path = src/shairport-sync
	url = https://github.com/birdslikewires/shairport-sync
