[submodule "src/portaudio"]
	path = src/portaudio
	url = https://github.com/andydvsn/portaudio
[submodule "src/zlib"]
	path = src/zlib
	url = https://github.com/andydvsn/zlib
[submodule "src/freetype2"]
	path = src/freetype2
	url = https://github.com/andydvsn/freetype2
